@media only screen and (max-widht:800px){


    .shapka {
        font-size: 50px;
        font-family: 'Times New Roman', Times, serif;
        background-color: #3d89c7;
    }
    
    table {
        border: 3;
    }
   
}