.shapka {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #fff9dc;

}


.opisaniye {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #ffe5e5
}
.info  {
    font-size: 25px;
    text-align: center;
    margin-top: auto;
    
   }

  