span {
    display: flex;
    align-self: center;
    text-decoration: underline;
    font-size: 50px;
}
.conteiner{
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    background-color: rgb(94, 94, 233);
}

.block1{
    width: 400px;
    padding: 30px;
    background-color: rgb(94, 94, 233);
}
.age {
    margin-left: 40px;
}

.email {
    margin-left: 24px;
}

.password{
    margin-left: 6px;
}





 
  